#toc_container {
    font-family: Montserrat, sans-serif;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 2px solid #73AD21;
    border-radius: 25px;
    display: table;
    margin-bottom: 1em;
    padding-top: 0px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    }


.flex-container {
    background: #f9f9f9 none repeat scroll 0 0;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding-top: 0px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px;
    width: 70%;
  }
  section.content {
    flex: 1;
  }

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  ol li {
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: black;
    font-weight: bold;
  }
  
  
  
  body {
    font-family: Montserrat, sans-serif;
  }
